body {
  min-width: 300px;
  max-width: 100%;
  height: 100%;
  min-height: 600px;
  margin: 10px;
  padding: 0;
  text-align: center;
  font-family: arial;
}
header h1 {
  margin: 0.5em;
}
h1 #f {
  color: ghostwhite;
  font-size: 2em;
}

h1 #t {
  color: white;
  font-size: .5em;
}

footer {
  bottom: 0;
  height: 30px;
  margin: auto;
}

#digitalclock {
  padding: 3px;
  padding-top: 20px;
  color: white;
  font: bold 16px MS Sans Serif;
}

#vaynwork {
  padding: 2px;
  color: grey;
  text-decoration: none;
  transition: color .2s,
}

#vaynwork:hover {
  color: white;
}

#container {
  position: relative;
  min-height: 100%;
}

#header {
  padding-right: 150px;
  padding-left: 150px;
}

#body {
  padding: 10px;
  padding-bottom: 80px;
}
